<div *ngFor="let pokemon of pokemonData" class="pokemon-card" [ngClass]="pokemon.types">
  <h2>{{ pokemon.name}}</h2>
  <div class="pokemon-experiencie">{{pokemon.base_experience}}</div>
  <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }} Image" class="pokemon-image">
  <div class="pokemon-description">{{pokemon.description}}</div>
  <div class="pokemon-info">
    <p>ID: {{ pokemon.id }}</p>
    <p>Height: {{ pokemon.height }}</p>
    <p>Types: {{ pokemon.types.join(", ") }}</p>
    <p>Abilities: {{ pokemon.abilities }}</p>
    <p>Species: {{ pokemon.species }}</p>
  </div>
</div>

