.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.pokemon-card {
  border: 2px solid #333; /* Color del borde de la carta */
  border-radius: 15px; /* Radio de borde para dar forma de carta */
  margin: 10px;
  padding: 10px;
}

.pokemon {
  width: 250px; /* Ancho de cada carta */
  text-align: center;
}

.pokeball {
  position: relative;
}

.pokeball img {
  width: 100px;
  height: 100px;
}

.pokeball-id {
  position: absolute;
  top: 40%;
  left: 54%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.pokemon-details {
  margin-top: 10px;
}

.pokemon-name {
  font-weight: bold;
}

.large-image {
  width: 50%;
  float: right;
  padding-left: 20px;
}

.large-image img {
  max-width: 100%;
  height: auto;
}

.pokemon-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 5px;
}

.large-image {
  width: 50%;
  float: right;
  padding-left: 20px;
}

.large-image img {
  max-width: 100%;
  height: auto;
}

.fire {
  background-color: #FFA07A; /* Fuego */
}

.water {
  background-color: #ADD8E6; /* Agua */
}

.grass {
  background-color: #90EE90; /* Planta */
}

.electric {
  background-color: #FFD700; /* Eléctrico */
}

.normal {
  background-color: #D3D3D3; /* Normal */
}

.fighting {
  background-color: #CD5C5C; /* Lucha */
}

.poison {
  background-color: #9370DB; /* Veneno */
}

.ground {
  background-color: #DEB887; /* Tierra */
}

.flying {
  background-color: #87CEEB; /* Volador */
}

.psychic {
  background-color: #FF69B4; /* Psíquico */
}

.bug {
  background-color: #98FB98; /* Bicho */
}

.rock {
  background-color: #A9A9A9; /* Roca */
}

.ghost {
  background-color: #4B0082; /* Fantasma */
}

.ice {
  background-color: #87CEFA; /* Hielo */
}

.dragon {
  background-color: #8A2BE2; /* Dragón */
}

.dark {
  background-color: #696969; /* Siniestro */
}

.steel {
  background-color: #B0C4DE; /* Acero */
}

.fairy {
  background-color: #FFB6C1; /* Hada */
}

.favorite-button-container {
  background-color: #D3D3D3;
  padding: 3px; /* Espaciado interno */
  border: 1px solid black; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 20px; /* Espaciado superior para separarlo del contenedor de Pokémon */
  display: flex; /* Utiliza flexbox para alinear el botón y el texto */
  align-items: center; /* Alinea los elementos verticalmente */
}

.favorite-button-container button {
  margin-right: 10px; /* Espaciado a la derecha del botón */
}