<div class="main-header">
    <img src="./../assets/img/International_Pokemon.png" alt="logo-pokemon" class="header" />
    <div class="button-container">
        <button class="button" mat-flat-button color="primary" (click)="goTo('/pokemon')">Pokemon</button>
        <button class="button" mat-flat-button color="accent" (click)="goTo('/berries')">Berries</button>
        <button class="button" mat-flat-button color="warn" (click)="goTo('/items')">Items</button>
    </div>
</div>
<router-outlet></router-outlet>
  
 
