.login-form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 50px;
}

.spinner{
    margin-right: auto;
    margin-left: auto;
}

.video-container {
    position: relative;
  }
  
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
  }
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    margin-top: 18px;
    margin-bottom: 50px;
    -webkit-text-stroke: 1px blue;
    color: yellow;
    background-clip: text;
    -webkit-background-clip: text;
}